.bgtransparent{
    background: linear-gradient(#20263200,#202632,#202632); 
    
    position: absolute;
    bottom: 0;
    z-index: 30;
    height : 80vh;
    width: 100%;
    
}

.blur-img-fondo{
    filter: blur(10px);
 -webkit-filter: blur(10px);

}

@media only screen and (max-height: 1100px) {
    .bgtransparent{
       
        height : 70vh !important;
    }
}

@media only screen and (max-height: 1000px) {
    .bgtransparent{
       
        height : 60vh !important;
    }
}



@media only screen and (max-height: 900px) {
    .bgtransparent{
       
        height : 50vh !important;
    }
}

@media only screen and (max-height: 800px) {
    .bgtransparent{
        
        height : 45vh !important;
    }
}






