.producto-card{
  max-height: 326px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.titulo-producto-negocio{
  max-width: 20ch;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sectionDescription {
  width: 450px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
};

.card-body-productos{
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 10px;
  max-height: 226px;
  place-items: start;
 
  background: gray;
}

.card-footer-productos{
  height: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .product-lazy-load{
   
   height: 200px !important;
    
  }
}

@media (max-width: 550px) {
  .product-lazy-load{
   
   height: 150px !important;
    
  }
}


@media screen and (max-width: 450px) {
  .sectionDescription {
    width: 100%;
    padding: 40px;
  
  };
}

@media screen and (max-width: 420px) {
  .producto-card{
    max-height: 284px;
    
  }
  .product-lazy-load{
    height: 180px !important;
   }
  .card-body-productos{
    max-height: 180px !important;
  }
}

@media screen and (max-width: 400px) {
  .producto-card{
    max-height: 284px;
    
  }
  .product-lazy-load{
    
    height: 180px !important;
    
  }
  .card-body-productos{
    max-height: 180px !important;
  }
}

@media screen and (max-width: 350px) {
  .producto-card{
    max-height: 2840px;
    
  }
  .product-lazy-load{
    
    height: 150px !important;
    
  }
  .card-body-productos{
    max-height: 150px !important;
  }
}

