.carritoBtn2 {
  background-color: transparent;
  width: 40px !important;
  min-width: 60px !important;
  overflow: hidden;
  padding: 0 !important;
  gap: 0 !important;
}
.carrito-list-products {
  max-height: 40vh;
  overflow-y: scroll;
}

.titulo-negocio-header {
  max-width: 40ch;
}
@media (max-width: 1200px) {
  .titulo-negocio-header {
    max-width: 40ch;
  }
}
@media (max-width: 900px) {
  .titulo-negocio-header {
    max-width: 32ch;
  }
}
@media (max-width: 600px) {
  .titulo-negocio-header {
    max-width: 25ch;
  }
}
@media (max-width: 525px) {
  .titulo-negocio-header {
    max-width: 20ch;
  }
}

@media (max-width: 475px) {
  .titulo-negocio-header {
    max-width: 15ch;
  }
}

@media (max-width: 440px) {
  .titulo-negocio-header {
    max-width: 10ch;
  }
}

@media (max-width: 390px) {
  .titulo-negocio-header {
    max-width: 5ch;
  }
}
