
.btn-sub:hover .svg-icon-notification,
.btn-sub.clicked .svg-icon-notification {
 animation: slope 0.9s both;
}


@keyframes slope {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

