
.titulo-card-negocio-panntalla-principal {
  max-width: 20ch;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.div-x-scroll-animation h2 {
  width: 300%;
  animation: slide 5s infinite;
}

.esqueleton-seccion-card {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 270px;
  width: 270px;
 
}

.list-container{
  grid-template-columns: 1fr 1fr 1fr;
}

.lazyload{
  min-width: 200px;
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 980px) {
  .esqueleton-seccion-card {
    height: 270px;
    width: 250px;
  }
}

@media (max-width: 925px) {
  .esqueleton-seccion-card {
    height: 270px;
    width: 26vw;
  }
}

@media(max-width: 830px) {
  .esqueleton-seccion-card {
    height: 200px;
    width: 23vw;
  }
  .lazyload{
    min-width: 150px;
  }
}

@media (max-width: 740px) {
  .list-container{
    grid-template-columns: 1fr 1fr;
  } 
}

@media (max-width: 713px) {
  .lazyLoad {
    height: 150px !important;
    
  }
  .titulo-card-negocio-panntalla-principal {
    max-width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .esqueleton-seccion-card {
    height: 200px;
    width: 40vw;
  }
  .card-body-seccion{
     max-width: 45vw;
     
   }
   
}

@media (max-width: 700px) {
  .esqueleton-seccion-card {
    height: 200px;
    width: 37vw;
  }
}

@media (max-width: 660px) {
  .esqueleton-seccion-card {
    height: 200px;
    width: 37vw;
  }
}

@media (max-width: 550px) {
  .titulo-card-negocio-panntalla-principal {
    max-width: 15ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  .list-container {
    gap: "0px" !important;
  }
}

@media (max-width: 485px) {
  .esqueleton-seccion-card {
    height: 140px;
    width: 30vw;
  }
  
}
@media (max-width: 430px) {
  .titulo-card-negocio-panntalla-principal {
    max-width: 10ch;
  }
  
  .lazyload{
    min-width: 100px;
  }
}
@media (max-width: 380px) {
  .titulo-card-negocio-panntalla-principal {
    max-width: none;
    white-space: inherit;
  }
  .list-container{
    grid-template-columns: 1fr;
  } 
}
@media (max-width: 377px) {
  .esqueleton-seccion-card {
    height: 140px;
    width: 70vw;
  }
  .card-body-seccion{
    max-width: 80vw;
    
  }
  .lazyload{
    min-width: 60vw;
  }
}




