 .swiper-slide-events {
    background-position: center;
    background-size: cover;
    
    background-color: transparent;
    padding: 0; 
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-3d .swiper-slide-shadow-right{
    background-image: none !important;
   
  }
  .swiper-3d .swiper-slide-shadow-left{
    background-image: none !important;
  }
