.bgtransparent{
    background: linear-gradient(transparent,transparent,#0e131700,#0E1317,#0E1317);
        
    position: absolute;
    bottom: 0;
    z-index: 30;
    height : 40vh;
    width: 100%;
}

.blur-img-fondo{
    filter: blur(10px);
 -webkit-filter: blur(10px);

}

@media only screen and (max-height: 1100px) {
    .bgtransparent{
        
        height : 60vh !important;
    }
}

@media only screen and (max-height: 1000px) {
    .bgtransparent{
        
        height : 50vh !important;
    }
}



@media only screen and (max-height: 900px) {
    .bgtransparent{
        
        height : 40vh !important;
    }
}

@media only screen and (max-height: 800px) {
    .bgtransparent{
        
        height : 30vh !important;
    }
}






