.contenedor-pt-login{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    
}

.login-container{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    display: grid;
    grid-template-rows: 4,1fr;
    gap: 20px;
}

.logo-img{
    width: 88%;
}
.img-login-container{
    display: grid;
    place-items: center;
}