
.ant-btn.css-dev-only-do-not-override-zcfrx9.ant-btn-primary.ant-btn-sm{
    background-color: #5E17EB;
}

@media only screen and (max-width: 800px) {
    .contenedor-logos-portada{    
        grid-template-columns: repeat(1,1fr) !important;
    }
}

@media only screen and (max-width: 550px) {
    .card-horarios-picker{    
        grid-template-columns: repeat(1,1fr) !important;
        font-weight: bold;
    }
}